* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

.logged-in .message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 16em);
    width: 32em;
    height: 3em;
    border: 2px solid #3b8acf;
    color: #3b8acf;
    font-size: 16px;
}

.logged-in .logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% + 1em);
    left: calc(50% - 4em);
    width: 8em;
    height: 2.6em;
    background: #3b8acf;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.login {
    position: relative;
    top: 50%;
    width: 270px;
    display: table;
    margin: -150px auto 0 auto;
    background: #fff;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.legend {
    position: relative;
    width: 100%;
    display: block;
    background: #4c9be0;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.legend:after {
    content: "";
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 152px -16px;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}


.input {
    position: relative;
    width: 90%;
    margin: 15px auto;
}
.input span {
    position: absolute;
    display: block;
    color: #d4d4d4;
    left: 10px;
    top: 8px;
    font-size: 20px;
}
.input input {
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #868686;
}
.input input:focus {
    outline: 0;
    border-color: #4c9be0;
}
.input.success input {
    border-color: #2ecc71;
    pointer-events: none;
}
.input.failed input {
    border-color: #dd3e29;
}

input:not(:placeholder-shown):not(:focus):invalid {
    border-color: #dd3e29;
}

.submit {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto -15px auto;
    background: #4c9be0;
    border-radius: 100%;
    border: 1px solid #4c9be0;
    color: #4c9be0;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 7px #fff;
    transition: 0.2s ease-out;
    outline: 0;
    position: relative;
}

.submit.loading {
    pointer-events: none;
}

.submit.failed {
    background: #df4848;
    border: 1px solid #df4848;
    color: #df4848;
}

.submit.loading::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.submit i {
    color: #fff;
}

.submit.loading i {
    display: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
