#vken-controls {
    q-options {
        position: relative;
        counter-reset: option;

        &[editable] {
            margin-left: -1.8em;
        }

        .option-edit-click-popup {
            position: absolute;
            display: none;
            width: 7em;
            height: 2em;
            // height: 40px;
            background: white;
            transform: translate(27px, -12px);
            border: 1px solid #eaeaea;
            border-radius: 3px;
            box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.8);
            padding: 5px;
            justify-content: center;
            align-items: center;

            &.visible {
                display: flex;
            }

            .popup-button {
                width: 1.5em;
                height: 1.5em;
                margin: 0 6px;
                cursor: pointer;
                background-repeat: no-repeat;
                background-size: contain;

                &.add-option {
                    background-image: svg-load("../../icons/add.svg");

                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.2s;

                        &::before {
                            content: "Insert option below";
                            position: absolute;
                            width: 20ch;
                            height: 1.8em;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            background-color: #444444;
                            border-radius: 3px;
                            transform: translate(-5ch, -2.5em);
                        }
                    }
                }

                &.delete-option {
                    background-image: svg-load("../../icons/delete.svg");

                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.2s;

                        &::before {
                            content: "Remove option";
                            position: absolute;
                            width: 15ch;
                            height: 1.8em;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            background-color: #444444;
                            border-radius: 3px;
                            transform: translate(-5ch, -2.6em);
                        }
                    }
                }
            }
        }

        &[type="single"] .popup-button.switch-option {
            background-image: svg-load("../../icons/checkbox.svg");

            &:hover {
                transform: scale(1.1);
                transition: transform 0.2s;

                &::before {
                    content: "Change to multiple choice";
                    position: absolute;
                    width: 24ch;
                    height: 1.8em;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color: #444444;
                    border-radius: 3px;
                    transform: translate(-5ch, -2.6em);
                }
            }
        }

        &[type="multi"] .popup-button.switch-option {
            background-image: svg-load("../../icons/checkbox.svg");

            &:hover {
                transform: scale(1.1);
                transition: transform 0.2s;

                &::before {
                    content: "Change to single choice";
                    position: absolute;
                    width: 23ch;
                    height: 1.8em;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color: #444444;
                    border-radius: 3px;
                    transform: translate(-5ch, -2.6em);
                }
            }
        }
    }

    q-option {
        display: flex;
        flex-direction: row;
        margin: 0.5em 0.2em 0.2em 0.2em;
        font-size: 15px;
        align-items: center;
        counter-increment: option;

        * {
            box-sizing: border-box;
        }

        // Checkbox

        .checkbox {
            box-sizing: border-box;
            border-width: 0.15em;
            border-color: #999999;
            border-style: solid;
            border-radius: 0.1em;
            width: 1.2em;
            height: 1.2em;
            display: inline-block;
            flex-shrink: 0;
            background-size: 1.2em;
            background-repeat: round;
        }

        &[type="single"] .checkbox {
            border-radius: 50%;
        }

        &[status="active"] .checkbox {
            cursor: pointer;

            &:hover {
                border-color: #999999;
                transform: scale(1.05);
                border-width: 0.35em;
            }
        }

        &[type="single"][selected] .checkbox.checkbox,
        &[type="single"][selected] .checkbox.checkbox:hover {
            border-width: 0.35em;
            border-color: #227fd6;
        }

        // &[type="multi"][selected] .checkbox {
        //     border: none;
        //     background-image: svg-load("../../icons/tick.svg", fill=#227fd6);
        // }

        &[status="correct"] div.checkbox,
        &[selected][editable] div.checkbox {
            border: none;
            background-image: svg-load("../../icons/tick.svg", fill=#18b574);
        }

        &[status="wrong"] div.checkbox {
            border: none;
            background-image: svg-load("../../icons/wrong.svg");
        }

        &[editable] .checkbox:hover {
            border: none;
            background-image: svg-load("../../icons/tick.svg", fill=#adadad);
        }

        // Option Text

        .option-text {
            display: inline-block;
            margin-left: 0.7em;
            padding: 0 0.3em;
            border-radius: 3px;
        }

        &[editable] .option-text {
            &:hover {
                background-color: #ececec;
            }

            &:focus {
                cursor: text;
                background-color: #ececec;
            }

            &:empty {
                &:not(:focus)::before {
                    content: "Option " counter(option);
                    font-style: italic;
                    cursor: text;
                    pointer-events: none;
                    color: #7a7a7a;
                }

                &:focus {
                    min-width: 8ch;
                }
            }

            &:not(:empty) {
                min-width: 3ch;
            }
        }

        // Edit button

        &[editable] .edit-button {
            margin-right: 0.8em;
            cursor: pointer;
            background-image: svg-load("../../icons/dots.svg");
            background-color: #eaeaea;
            width: 11px;
            height: 11px;
            padding: 4px;
            border: 4px solid #eaeaea;
            border-radius: 3px;
            opacity: 0;
            transition: opacity 0.1s linear;
        }

        &[editable]:hover .edit-button,
        &[editing] .edit-button {
            opacity: 1;
        }
    }
}
