#vken-controls {
    q-popup {
        position: absolute;
        width: calc(100% - 180px);
        margin: auto;
        max-width: 750px;
        background: white;
        border-radius: 2px;
        padding: 2em 2.2em 2em 2.2em;
        box-shadow: -7px 7px 33px -5px rgba(0, 0, 0, 0.45);
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        color: #111111;
        font-size: 15px;

        .title {
            position: absolute;
            display: flex;
            padding: .3em .8em;
            align-items: center;
            justify-content: center;
            background: #444444;
            left: -0.7em;
            top: -0.7em;
            color: #ffffff;
            border-radius: 2px;
            z-index: 11;
        }

        .status {
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255,255, 0.9);
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &[status="saving"] .status {
            display: flex;

            &::before {
                content: "";
                width: 30px;
                height: 30px;
                border: 4px solid #5fa4d4;
                border-radius: 50%;
                border-bottom-color: transparent;
                animation-name: rotate;
                animation-duration: 1.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        &[status="save-success"] .status {
            display: flex;

            &::before {
                content: "";
                width: 50px;
                height: 50px;
                background-image: svg-load("../../icons/success.svg");
            }
        }


        &[status="save-error"] .status {
            display: flex;

            &::before {
                content: "";
                width: 50px;
                height: 50px;
                background-image: svg-load("../../icons/error.svg");
            }
        }

        &[editable] {
            padding-left: 2.5em;
        }

        &.visible {
            animation-duration: 0.4s;
            animation-name: appear;
        }

        .close-button {
            width: 1.2em;
            height: 1.2em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0.4em;
            top: 0.4em;
            cursor: pointer;
            background-image: svg-load('../../icons/close.svg');
        }

        .submit-button,
        .save-button {
            width: 6em;
            height: 32px;
            background: #227fd6;
            display: none;
            position: absolute;
            bottom: 1.5em;
            right: 1.5em;
            color: #ffffff;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.03em;
            border-radius: 3px;
        }

        &:not([editable])[selection-active] .submit-button {
            cursor: pointer;
            display: flex;
        }

        &[editable][selection-active] .save-button {
            cursor: pointer;
            display: flex;
        }

        .delete-button {
            width: 2.2em;
            height: 32px;
            display: flex;
            position: absolute;
            bottom: 1.5em;
            right: 8em;
            background-color: #d15858;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.03em;
            cursor: pointer;
            border-radius: 3px;
        }

        .delete-button::before {
            content: "";
            background-image: svg-load("../../icons/delete-light.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
        }

        &:not([editable]) .delete-button, &[new] .delete-button {
            display: none;
        }

        .resume-button {
            display: none;
            width: 7em;
            height: 32px;
            background: #227fd6;
            position: absolute;
            bottom: 1.5em;
            right: 1.5em;
            color: #ffffff;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;

            &::before {
                content: "RESUME";
                font-weight: 500;
                margin: 0.25em;
            }

            &::after {
                content: '';
                background-image: svg-load('../../icons/play.svg');
                width: 22px;
                height: 22px;
            }
        }

        &[status="submitted"] .resume-button {
            display: flex;
            animation-name: fade-in;
            animation-duration: 1.5s;
        }

        #q-text {
            margin-bottom: 0.8em;
            max-height: 9em;
            overflow-y: scroll;
            background: #fafafa;
            border: 1px solid #cccccc;
            padding: 0.9em;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background: #d2d2d2;
            }

            * {
                box-sizing: content-box;
            }
        }

        .delete-confirm {
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255,255, 0.9);
            display: none;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }

        &[status="confirm-delete"] .delete-confirm {
            display: flex;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
