#vken-controls {
    q-popup {
        position: absolute;
        width: calc(100% - 180px);
        margin: auto;
        max-width: 750px;
        background: white;
        border-radius: 2px;
        padding: 2em 2.2em 2em 2.2em;
        box-shadow: -7px 7px 33px -5px rgba(0, 0, 0, 0.45);
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        color: #111111;
        font-size: 15px;

        &[editable] {
            padding-left: 2.5em;
        }

        &.visible {
            animation-duration: 0.3s;
            animation-name: appear;
        }

        .title {
            position: absolute;
            display: flex;
            padding: .3em .8em;
            align-items: center;
            justify-content: center;
            background: #444444;
            left: -0.7em;
            top: -0.7em;
            color: #ffffff;
            border-radius: 2px;
            z-index: 11;
            pointer-events: none;

            &::before {
                content: "Question"
            }
        }

        &[editable] .title::before {
            content: attr(data-value);
        }

        &[editable][status="editing"]:not([new]) .title {
            cursor: pointer;
            pointer-events: auto;
            // color: lightblue;
        }

        &[editable][new] .title::before {
            content: "New Question"
        }

        .status-overlay {
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255,255, 0.5);
            backdrop-filter: blur(10px);
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &[status="saving"] .status-overlay {
            display: flex;

            &::before {
                content: "";
                width: 30px;
                height: 30px;
                border: 4px solid #5fa4d4;
                border-radius: 50%;
                border-bottom-color: transparent;
                animation-name: rotate;
                animation-duration: 1.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        &[status="saved"] .status-overlay,
        &[status="deleted"] .status-overlay {
            display: flex;

            &::before {
                content: "";
                width: 60px;
                height: 60px;
                background-image: svg-load("../../icons/success.svg");
            }

            &::after {
                content: "Saved";
                font-size: 20px;
                margin: 12px;
                letter-spacing: .4px;
            }
        }

        &[status="deleted"] .status-overlay::after {
            content: "Deleted";
        }

        &[status="save-error"] .status-overlay {
            display: flex;

            &::before {
                content: "";
                width: 60px;
                height: 60px;
                background-image: svg-load("../../icons/error.svg");
            }

            &::after {
                content: "Network Error";
                font-size: 20px;
                margin: 12px;
                letter-spacing: .4px;
            }
        }

        &[status="correct-answer"] .status-overlay {
            display: flex;
            background: rgba(255, 255,255, 0.2);
            animation-name: fade-out;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;

            &::before {
                content: "";
                width: 80px;
                height: 80px;
                background-image: svg-load("../../icons/success.svg");
            }
        }

        &[status="wrong-answer"] .status-overlay {
            display: flex;
            background: rgba(255, 255,255, 0.2);
            animation-name: fade-out;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;

            &::before {
                content: "";
                width: 80px;
                height: 80px;
                background-image: svg-load("../../icons/error.svg");
            }
        }

        .close-button {
            width: 1.2em;
            height: 1.2em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0.4em;
            top: 0.4em;
            cursor: pointer;
            background-image: svg-load('../../icons/close.svg');
        }

        .submit-button,
        .save-button {
            width: 5em;
            height: 32px;
            background: #227fd6;
            display: none;
            position: absolute;
            bottom: 1.5em;
            right: 1.5em;
            color: #ffffff;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.03em;
            border-radius: 3px;
            cursor: pointer;
            border: 1px solid #227fd6;
        }

        .save-button::before {
            content: "SAVE";
        }

        &[new] .save-button::before {
            content: "CREATE";
        }

        .delete-button {
            width: 2.2em;
            height: 32px;
            display: none;
            position: absolute;
            bottom: 1.5em;
            right: 7em;
            background-color: #fafafa;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.03em;
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid #7a7a7a;

            &::before {
                content: "";
                background-image: svg-load("../../icons/delete.svg");
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 20px;
            }

            &:hover::before {
                transform: scale(1.05);
            }

            &:hover::after {
                content: 'Delete question';
                position: absolute;
                width: 17ch;
                height: 2em;
                font-size: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: #444444;
                border-radius: 3px;
                transform: translate(0, -3em);
            }
        }

        // .edit-time-button {
        //     width: 2.2em;
        //     height: 32px;
        //     display: none;
        //     position: absolute;
        //     bottom: 1.5em;
        //     right: 7em;
        //     background-color: #fafafa;
        //     align-items: center;
        //     justify-content: center;
        //     letter-spacing: 0.03em;
        //     cursor: pointer;
        //     border-radius: 3px;
        //     border: 1px solid #7a7a7a;

        //     &::before {
        //         content: "";
        //         background-image: svg-load("../../icons/time.svg");
        //         background-repeat: no-repeat;
        //         background-size: contain;
        //         width: 20px;
        //         height: 20px;
        //     }

        //     &:hover::before {
        //         transform: scale(1.05);
        //     }

        //     &:hover::after {
        //         content: 'Change question time';
        //         position: absolute;
        //         width: 23ch;
        //         height: 2em;
        //         font-size: 13px;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         color: white;
        //         background-color: #444444;
        //         border-radius: 3px;
        //         transform: translate(0, -3em);
        //     }
        // }

        .resume-button {
            display: none;
            width: 7.5em;
            height: 32px;
            background: #227fd6;
            position: absolute;
            bottom: 1.5em;
            right: 2em;
            color: #ffffff;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: 1px solid #227fd6;
            cursor: pointer;

            &::before {
                content: "CONTINUE";
                font-weight: 500;
                margin: 0.25em;
            }

            &::after {
                content: '';
                background-image: svg-load('../../icons/play.svg');
                width: 22px;
                height: 22px;
            }
        }

        .edit-time-overlay {
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255,255, 0.4);
            backdrop-filter: blur(7px);
            display: none;
            justify-content: center;
            flex-direction: row;
            align-items: center;

            .time-input {
                width: 8ch;
                display: inline-block;
                font-size: 18px;
                letter-spacing: 1px;
                height: 2.5em;
                border-radius: 4px;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }

                &:invalid {
                    border: 2px solid rgb(255, 106, 106);
                }
            }

            .time-input:invalid + .update-btn {
                pointer-events: none;
                opacity: 0.5;
            }

            .update-btn {
                width: 2.5em;
                height: 2.5em;
                background-image: svg-load("../../icons/tick.svg", fill=#227fd6);
                flex-shrink: 0;
                background-size: 2.5em;
                background-repeat: round;
                color: #ffffff;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                font-size: 18px;
                margin-left: 0.5em;
                cursor: pointer;
            }
        }

        .delete-confirm-overlay {
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255,255, 0.5);
            backdrop-filter: blur(7px);
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .message {
                font-size: 22px;
                letter-spacing: .2px;
            }

            .row {
                display: flex;
                flex-direction: row;
                margin-top: 12px;

                .btn {
                    cursor: pointer;
                    margin: 10px;
                    padding: 6px 20px;
                    border-radius: 3px;
                    color: #ffffff;

                    &.yes {
                        background-color: #d15858;
                    }

                    &.no {
                        background-color: #dadada;
                        color: #222222;
                    }

                }
            }
        }

        &[status="attempting"][selection-active] .submit-button,
        &[status="editing"] .save-button,
        &[status="editing"]:not([new]) .delete-button,
        &[status="editing"]:not([new]) .edit-time-button,
        &[status="attempted"] .resume-button,
        &[status="edit-time"] .edit-time-overlay,
        &[status="confirm-delete"] .delete-confirm-overlay {
            display: flex;
        }

        &[status="editing"]:not([selection-active]) .save-button {
            opacity: 0.5;
            pointer-events: none;
        }

        .q-text {
            margin-bottom: 0.8em;
            max-height: 9em;
            overflow-y: scroll;
            background: #fafafa;
            border: 1px solid #c9c9c9;
            padding: 0.9em;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background: #d2d2d2;
            }

            * {
                box-sizing: content-box;
            }

            &[contenteditable] {
                &:focus {
                    border-style: dashed;
                    border-color: #aaaaaa;
                    // border-width: 2px;
                }

                &:empty:not(:focus):before {
                    content: attr(placeholder);
                    color: #7a7a7a;
                    cursor: text;
                    pointer-events: none;
                    font-style: italic;
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade-in-out {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    20% {
        transform: scale(1);
        opacity: 1;
    }

    80% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}
